body {
    background-color: #e4eaf2;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    font-family: poppins;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 30px;
    
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
/* Styling for the file input */
input[type="file"] {
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #333;
}

input[type="file"]:hover {
    background-color: #e0e0e0;
    border-color: #999;
}

/* Styling for the date inputs */
input[type="date"] {
    padding: 8px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #333;
}

input[type="date"]:hover {
    border-color: #999;
}

/* Styling for the filter button */
button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    height: 100%;
}

.column1 {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100px;
}

.column2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 400px;
}

.chart-container {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: auto;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.1) 0px 18px 36px -18px inset; */
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
}
